*.bak*
*.log
*.swp
*.bbl
*.blg
*.ptc
*.exe
arara.xml
documentation/_minted-latexindent/
documentation/build
documentation/latexindent-blx.*
documentation/*.aux
documentation/*.bbl
documentation/*.blg
documentation/figure-schematic.pdf
documentation/*.idx
documentation/*.ilg
documentation/*.ind
documentation/*.listing
documentation/*.lol
documentation/*.new
documentation/*.out
documentation/*.pyg
documentation/*.run.xml
documentation/arara.yaml
documentation/*.toc
documentation/latexindent.pdf
test-cases/*/*.aux
test-cases/*/*.pdf
nytprof*
*.out

# vscode
.vscode/**
build/**
