*.bak*
*.log
*.swp
*.bbl
*.blg
*.ptc
documentation/_minted-latexindent/
documentation/latexindent-blx.*
documentation/*.aux
documentation/*.listing
documentation/*.lol
documentation/*.out
documentation/*.run.xml
documentation/*.toc
documentation/*.out
nytprof*
documentation/*.pyg
documentation/*.bbl
documentation/*.blg
documentation/latexindent.pdf
*.out
