success/*.log
*.bak*
*.log
*.swp
documentation/latexindent-blx.*
documentation/*.aux
documentation/*.listing
documentation/*.lol
documentation/*.out
documentation/*.run.xml
documentation/*.toc
documentation/*.out
documentation/*.bbl
documentation/*.blg
*.out
