/* base YAML */
div.baseyaml > div.highlight{background-color: #b3d9ff; border-top: 5px solid #0066cc;}
div.baseyaml > table.highlighttable{background-color: #b3d9ff; border-top: 5px solid #0066cc;}
div.baseyaml table.highlighttable td.code div.highlight {background-color: #b3d9ff;border: 0px;}
/* -m switch YAML */
div.mlbyaml > div.highlight{background-color: #EDE275; border-right: 5px solid #FDD017; border-top: 5px solid #FDD017;}
div.mlbyaml > table.highlighttable{background-color: #EDE275; border-right: 5px solid #FDD017; border-top: 5px solid #FDD017;}
div.mlbyaml table.highlighttable td.code div.highlight {background-color: #EDE275;border: 0px;}
div.tex > div.highlight{background-color:  #e0e0d1; border-top: 5px solid #adad85;}
/* make line numbers red */
td.linenos div.linenodiv pre {color: red;}
/* command shell */
div.commandshell div.highlight{background-color: black;}
div.commandshell div.highlight pre {color: white;}
