name: Batch check of latexindent.pl
# PURPOSE:
#
# run 
# 
#   latexindent --check <file.tex>
#
# on each .tex file within test-cases/check-switch-tests
# for each of
#
#   Linux, MacOS, and Windows 
#
# and multiple Perl versions within each.
#
# Notes: 
#
#   (1) this action only runs on develop branch, there's 
#       no need to run it on the main branch nor on 
#       experimental feature branches
#
#   (2) this action only runs when when at least one of
#
#           latexindent.pl
#           defaultSettings.yaml
#           LatexIndent/*.pm
#
#       have been changed since the last commit
#

on:
  push:
    branches:
      - develop

jobs:
  check-pm-files-changed:
    #
    # check if any key files have changed
    #
    # reference: https://github.com/marketplace/actions/changed-files
    #            https://docs.github.com/en/actions/learn-github-actions/expressions
    #            https://www.integralist.co.uk/posts/github-actions/#terminology
    #
    runs-on: ubuntu-latest
    outputs:
      anychanged: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - name: Loading the "base actions/checkout" so as to access latexindent.pl
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      - name: Check for changed pm files, latexindent.pl, defaultSettings.yaml
        uses: tj-actions/changed-files@v39
        id: changed-files
        with:
          files: |
             latexindent.pl
             defaultSettings.yaml
             LatexIndent/*.pm
      - if: ${{ steps.changed-files.outputs.any_changed == 'true' }}
        name: List all relevant changed files
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            echo "$file has changed since last commit"
          done
      - if: ${{ steps.changed-files.outputs.any_changed == 'false' }}
        name: No perl based files have changed
        run: |
            echo ""
            echo "none of latexindent.pl, defaultSettings.yaml, LatexIndent/*.pm have changed since last commit"
            echo "no need to run the rest of batch-check.yaml :)"
            echo ""
  latexindent-batch-check:
    needs: check-pm-files-changed
    if: ${{fromJSON(needs.check-pm-files-changed.outputs.anychanged)}}
    #
    # Linux and MacOS
    #
    name: ${{ matrix.platform }}, Perl ${{ matrix.perl }}, latexindent.pl --check on test-cases/check-switch-tests/*.tex
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        perl: [ '5.32', '5.30', '5.28' ]
    runs-on: ${{ matrix.platform }}
    steps:
      # checkout github.com/cmhughes/latexindent.pl
      #
      # https://github.com/actions/checkout
      - name: Loading the "base actions/checkout" so as to access latexindent.pl
        uses: actions/checkout@v3
      # install Perl
      #
      # https://github.com/marketplace/actions/setup-perl-environment
      - if: ${{ matrix.platform == 'ubuntu-latest' || matrix.platform == 'macos-latest' }}
        name: installing Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
      - if: ${{ matrix.platform == 'windows-latest' }}
        name: installing Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          distribution: strawberry
      - name: installing perl modules for latexindent.pl
        run: |
          cpanm YAML::Tiny
          cpanm File::HomeDir
      - if: ${{ matrix.platform == 'ubuntu-latest' || matrix.platform == 'macos-latest' }}
        name: loop for running latexindent.pl --check test-cases/check-switch-tests/*.tex
        run: |
          for file in test-cases/check-switch-tests/*.tex
          do
             perl latexindent.pl --check -s $file && echo "latexindent.pl check passed for $file (file unchanged by latexindent.pl)"
          done
      - if: ${{ matrix.platform == 'windows-latest' }}
        name: loop for running latexindent.pl --check test-cases/check-switch-tests/*.tex
        run: |
          $files = Get-ChildItem test-cases\check-switch-tests\*tex
          foreach ($file in $files) {perl latexindent.pl --check -s $file}
