name: Batch check of latexindent.pl
# PURPOSE:
#
# run 
# 
#   latexindent --check <file.tex>
#
# on each .tex file within test-cases/check-switch-tests
# for each of
#
#   Linux, MacOS, and Windows 
#
# and multiple Perl versions within each.
#
# Note: this action runs only on develop branch, there's 
#       no need to run it on the main branch nor on 
#       experimental feature branches
#

on:
  push:
    branches:
      - develop

jobs:
  latexindent-batch-check:
    # Linux and MacOS
    #
    name: ${{ matrix.platform }}, Perl ${{ matrix.perl }}, latexindent.pl --check on test-cases/check-switch-tests/*.tex
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        perl: [ '5.32', '5.30', '5.28' ]
    runs-on: ${{ matrix.platform }}
    steps:
      # checkout github.com/cmhughes/latexindent.pl
      #
      # https://github.com/actions/checkout
      - name: Loading the "base actions/checkout" so as to access latexindent.pl
        uses: actions/checkout@v2
      # install Perl
      #
      # https://github.com/marketplace/actions/setup-perl-environment
      - if: ${{ matrix.platform == 'ubuntu-latest' || matrix.platform == 'macos-latest' }}
        name: installing Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
      - if: ${{ matrix.platform == 'windows-latest' }}
        name: installing Perl
        uses: shogo82148/actions-setup-perl@v1
        with:
          perl-version: ${{ matrix.perl }}
          distribution: strawberry
      - name: installing perl modules for latexindent.pl
        run: |
          cpanm YAML::Tiny
          cpanm File::HomeDir
      - if: ${{ matrix.platform == 'ubuntu-latest' || matrix.platform == 'macos-latest' }}
        name: loop for running latexindent.pl --check test-cases/check-switch-tests/*.tex
        run: |
          for file in test-cases/check-switch-tests/*.tex
          do
             perl latexindent.pl --check -s $file && echo "latexindent.pl check passed for $file (file unchanged by latexindent.pl)"
          done
      - if: ${{ matrix.platform == 'windows-latest' }}
        name: loop for running latexindent.pl --check test-cases/check-switch-tests/*.tex
        run: |
          $files = Get-ChildItem test-cases\check-switch-tests\*tex
          foreach ($file in $files) {perl latexindent.pl --check -s $file}
