name: Release GitHub Container Registry Package
# PURPOSE:
#
#  1. *build* latexindent docker image
#  2. *publish* latexindent docker image to https://github.com/cmhughes?tab=packages
#
# Note: this action only runs on *each release*, i.e. when tags are pushed
#
#       GHCR: GitHub Container Registry
#

on:
  push:
    tags:
      - '*'

jobs:
  latexindent-ghcr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: docker/setup-buildx-action@v2
        id: buildx
        with:
          install: true
      - uses: docker/metadata-action@v4
        id: meta
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            type=match,pattern=V(.*),group=1
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: get latexindent tag
        run: echo "TAG=${GITHUB_REF##*/}" >> $GITHUB_ENV
      - uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            LATEXINDENT_VERSION=${{ env.TAG }}
